<html>

<head>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Color Palette: http://paletton.com/#uid=23x050klblN2uQ2bEuGukdkSr4j -->
</head>

<div class="bg">

  <body>
    <app-header></app-header>
    <app-lang-panel></app-lang-panel>
    <footer>
      <app-social-footer></app-social-footer>
    </footer>
  </body>

</div>

</html>
