html, body {
    height: 100%;
}

.bg { 
    /* The image used */
    background-color: #082A44;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;

    background-size: cover;

    color: #D0D9E0;
}