@keyframes theHead {
    0%   {background-color: #677077;}
    25%  {background-color: #78837d;}
    100%   {background-color: #677077;}
}

.jumbotron {
    background-color: #9fa8a3;
    color: white;
    animation: theHead 2s infinite;
}

img.img-rounded {
    border: 2px solid black;
}

body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-color: #e1e8f0;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;

    background-size: cover;

    color: black
}