<html>
<head>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
</head>

<body>
  <div class="bg">
    <app-header></app-header>
    <div class="container">
      <i class="devicon-android-plain"></i>
      <i class="devicon-angularjs-plain"></i>
      <i class="devicon-bootstrap-plain"></i>
      <i class="devicon-c-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-csharp-plain"></i>
      <i class="devicon-css3-plain"></i>
      <i class="devicon-html5-plain"></i>
      <i class="devicon-java-plain"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-mysql-plain"></i>
      <i class="devicon-nodejs-plain"></i>
      <i class="devicon-python-plain"></i>
      <i class="devicon-typescript-plain"></i>
    </div>
  </div>
</body>

</html>