.icon-bar {
  width: 100%;
  background-color: #082a44;
}
.icon-bar a {
  width: 12.5%;
  text-align: center;
  color: #68869d;
  float: left;
  padding: 12px 0;
  transition: all 0.3s ease;
  font-size: 48px;
  background-color: #082a44;
  border-bottom: 0 solid transparent;
  text-decoration: none;
}

.icon-bar a .two,
.icon-bar a:hover .one,
.icon-bar a .two,
.icon-bar a:active .one {
  display: none;
}

.icon-bar a:hover .two,
.icon-bar a:active .two {
  display: inline;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #d0d9e0;
}

@media screen and (max-width: 600px) {
  .icon-bar a {
    font-size: 24px;
  }
}
